{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
    {{ media.css }}
    <style>
        table.view-table {margin-bottom:2em}

        table.view-table > thead > tr > th.header-name {width: 15%}
        table.view-table > thead > tr > th.header-url {width: 30%}
        table.view-table > thead > tr > th.header-permission_required {width: 10%}
        table.view-table > thead > tr > th.header-login_required {width: 10%}
        table.view-table > thead > tr > th.header-additional_info {width: 35%}

        table.view-table > tbody > tr > td.field-additional_info > p {margin: 0; padding: 0}
    </style>
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Permissions Auditor' %}
&rsaquo; {% trans 'Views by Module' %}
</div>
{% endblock %}
{% endif %}


{% block content %}
<h1>{% trans 'Views By Module Index' %}</h1>
<div id="content-main">
    <div class="module" id="changelist">
        <div class="results">
            {% for group, view_list in views.items %}
            <h2>{{ group }}</h2>
            <table class="view-table">
                <thead>
                    <tr>
                        <th class="header-name">
                            <div class="text"><span>{% trans 'Name' %}</span></div>
                        </th>
                        <th class="header-url">
                            <div class="text"><span>{% trans 'URL' %}</span></div>
                        </th>
                        <th class="header-permission_required">
                            <div class="text"><span>{% trans 'Permission Required' %}</span></div>
                        </th>
                        <th class="header-login_required">
                            <div class="text"><span>{% trans 'Login Required' %}</span></div>
                        </th>
                        <th class="header-additional_info">
                            <div class="text"><span>{% trans 'Additional Info' %}</span></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for view in view_list %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ view.0 }}</td>
                        <td><i>{{ view.1 }}</i></td>
                        <td>
                            {% for permission in view.2 %}
                                {{ permission }}
                            {% endfor %}
                        </td>
                        <td>
                            {% if view.3 %}
                                <img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes">
                            {% else %}
                                <img src="{% static 'admin/img/icon-no.svg' %}" alt="yes">
                            {% endif %}
                        </td>
                        <td class="field-additional_info">{{ view.4|linebreaks }}</td>
                    </tr>
                    {% endfor %}{% resetcycle %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
