.DS_Store
.AppleDouble
.LSOverride

__pycache__/
*.py[cod]

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

docs/_*
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.sqlite3
