{% extends 'base.html' %}

{% block content %}
<h1>Permissions Auditor Example App</h1>

{% if request.user.is_authenticated %}
<ul>
    <li><a href="{% url 'admin:index' %}">Admin</a></li>
    <li><a href="{% url 'user_index' %}">Users List</a> (requires 'auth.view_users' permission)</li>
    <li><a href="{% url 'permissions_index' %}">Permissions List</a> (staff members only)</li>
</ul>

<a href="{% url 'logout' %}?next=/">Logout</a>
{% else %}
<a href="{% url 'login' %}?next=/">Login</a>
{% endif %}
{% endblock content %}
